.counter-container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.count{
    width: 80%;
    background: #232323;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}
.plus,.minus{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--pramiry);
    border-radius: 50px;
    font-size: 1.5rem;

}